.skill
  = link_to "/skills/#{skill.slug}.html" do
    = image_tag "/images/#{skill.image}", class: "skill--image", alt: skill.alt

  .skill--textarea
    %h2.skill--heading
      = skill.name  

    %p
      = skill.description 

    .skill--projects-wrapper
      %span 
        = link_to "/projects/using/#{skill.slug}.html", 'up-layer': "new", class:"btn -black" do 
          %span.btn--text
            view 
            = skill.projects.size 
            - if skill.projects.size > 1
              = "projects that use"
            - else
              = "project that uses"
            = skill.name 

  .skill--buttons
    = link_to "/skills/#{skill.slug}.html", class:"btn -black" do 
      %span.btn--text
        Explore

