---
title: Project 
layout: main
---
.project-view
  %h1.project-view-title= title
  
  %span.project-view--date  
    = "Created At: #{created_at} - Updated At:" 

    - if updated_at.nil? 
      =  "Ongoing"
    - else 
      = updated_at 

  %p.project-view--description
    = description  

  .project-view--featured-image-wrapper
    = link_to "/projects/live-view.html" do
      = image_tag "/images/#{image}", class: "project-view--featured-image", alt: alt


  %p.project-view--long-description= long_description 
  = link_to github_url, class:"btn -black", target:"_blank", rel:"noopener" do 
    %span.btn--text
      Github


