:ruby
	struct = data.solving_methods.send(name)

- struct.steps.each_with_index do |outer_step, outer_index|
	%section(data-auto-animate){ 'data-auto-animate-restart': outer_index == 0 ? true : nil }
		%h3.mb= struct.title
		.row
			%table(data-id="#{name}")
				%thead
					%tr
						%td
							%b Step
						-# %td Solved
						%td 
							%b Method
				%tbody
					- struct.steps.each_with_index do |inner_step, inner_index|
						%tr
							%td
								- if outer_index == inner_index
									%mark= inner_step.name 
								- else	
									= inner_step.name
							-# %td= inner_step.progress
							%td= inner_step.algs

			= cube(outer_step.cube.to_sym)
