      <div class="project">

        <div>
          <a href="/projects/<%= slug %>.html">
            <img src="/images/<%= image %>" alt="<%= alt %>" class="project--image">
          </a>
        </div>

        <div class="project--textarea">
          <h2 class="project--heading"><%= title %></h2> 
          <span class="project--dates">
            
          <span>
          <p><%= description %></p>

        </div>
        <div class="project--buttons">
          <a class="btn -black" href="/projects/<%= slug %>.html">
            <span class="btn--text">Explore</span>
          </a>
          <a class="btn -black" target="_blank" rel="noopener" href="<%= github_url %>">
            <span class="btn--text">Github</span>
          </a>
        </div>
      </div>
